@charset "ISO-8859-1";

body {
	margin: 0;
	padding: 0;
	font-size: 100%;
	line-height: 1;
	font-family: sans-serif;
	font-size: 14pt;
	font-weight: bold;
}

.main {
	background-color: #CCCCFF;
	color: black;
	background-radius: 20px;
	width: 70%;
	height: 95%;
	margin: 20px auto;
	border: 1px solid;
	text-align: center;
}

.heading {
	margin: 10px auto;
	font-weight: bold;
	font-size: 32pt;
}

.display {
	width: 90%;
	margin: 10px auto;
	border: 1px solid;
	height: 400px;
	background-color: white;
	font-size: 12pt;
}



.bottomAlign {
	width: 60%;
	display: flex;
	margin: 10px auto;
}

.bottomMenu {
	font-size: 12px;
	font-weight: bold;
	border: 5px solid;
}

.validator {
	margin: 5px 5px 0px 850px;
}