@charset "ISO-8859-1";

style>* {
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

.top-header {
	z-index: 9;
	margin: 80px
}

.logo {
	width: 50px;
	height: 50px;
	margin: 10px 50px auto;
}

/* Style the header */
.header {
	border-style: solid;
  border-color: black;
	border-radius: 10px;
	background-color: #e0e0ff;
	padding: 1px;
	font-size: 13px;
	width: 50%;
	height: 300px;
	margin: 25px 50px auto;
}

.ul {
	list-style: url(../images/back.jpg);
}

.header-down {
	border-radius: 20px;
	background-color: white;
	padding: 1px;
	font-size: 13px;
	margin: 10px 50px auto;
}

.header-mid {
	margin: 30px;
}

form.form-example {
	display: table;
}

div.form-example {
	display: table-row;
}

label, input {
	display: table-cell;
	margin-bottom: 10px;
}

label {
	padding-right: 10px;
}

.button {
	background-color: #ffaaaa;
	border-style: outset
	color: white;
	padding: 5px 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	color: black;
}
</
style
>