<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>JSP Quiz</title>
<style>
body {
	margin: 0;
	padding: 0;
	font-size: 100%;
	line-height: 1;
	font-family: Arial, Helvetica, sans-serif;
}

.p1 {
	font-family: 'Courier New';
	font-size: 15px;
	color: blue;
	margin: 0px 10px;
}

.p2 {
	font-family: 'Courier New';
	font-size: 15px;
	color: maroon;
	margin: 0px 10px;
}

.header {
	border: solid black;
	background-color: #eff8f0;
	padding: 1px;
	margin: 0px 200px auto;
}
</style>

</head>
<body>
	<div class="header">

		<p style="text-align: center; font-size: 30px">
			<b>JSP Quiz</b>
		<p style="line-height: 30px; border: 1px solid black;">
		<div class="p1">1. What is the main value of Java Server Pages?
		</div>
		<div class="p2">
			There are two types of data in a JSP page: <br> 1) Template
			Data: The static part, copied directly to response - static HTML
		
			<br> 2) JSP Elements: The dynamic part, translated and executed
			by the container
			<ul>
				<li>typically generate additional HTML portions of the page</li>
				<li>can execute arbitrary Java code</li>
			</ul>
		</div>
		<br> 



		<div class="p1">2. How are JSP pages related to servlets?</div>
		<div class="p2">
			A JSP life cycle can be defined as the entire process from its
			creation till its destruction -- this is similar to the servlet life
			cycle with an additional step of compiling a JSP into servlet. <br>The
			following are the steps of evolution of a JSP, which are typically
			initiated by a browser request for a jsp (e.g. index.jsp).
			<ul>
				<li>Compilation</li>
				<li>Initialization</li>
				<li>Execution</li>
				<li>Cleanup</li>
			</ul>
		</div>
		<br> 


		<div class="p1">3. How are JSP pages related to HTML?</div>

		<div class="p2">
			
				Jsp is html with a little java mixed in<br> a little java code
				bracketed in example: <% %> etc<br> and lots of plain HTML
			
		
		</div>
		<br>

		<div class="p1">4. Give an example of a JSP scriptlet and show
			how it will look in the JSP servlet .</div>
		<div class="p2">
			Scriptlet: Inserts Java statements inside service method
			<br> Example:
			<ul>
				<li>% Java statements %></li>
				<li><% count = count * 10; %></li>
				<li><% inserts into the service method</li>

			</ul>
		</div>
		<br>

		<div class="p1">5. Give an example of a JSP declaration and show
			how it will look in the JSP servlet.</div>
		<div class="p2">
			Declaration:
			<ul>
				<li><%! Inserts instance variable and method declarations into
					servlet</li>
				<li><%! Java declaration statements %></li>
				<li><%! int count = 0; %></li>
			</ul>
		</div>
		<br>


		<div class="p1">6. Give an example of a JSP comment and show how
			it will look in the JSP servlet</div>
		<div class="p2">
			Comment:<br>
			<ul>
				<li><%-- jsp comment --%></li>
				<li>contrast with HTML comment</li>
				<li>Comment <!–- --></li>
				<li>HTML comments get sent to the browser (part of the HTML)</li>
				<li>JSP elements all processed by container and do not appear
					in generated HTML</li>
			</ul>

		</div>
		<br>


		<div class="p1">7. Give an example of a JSP expression and show
			how it will look in the JSP servlet.</div>
		<div class="p2">
			Expects a Java expression, which it puts inside ‘out.print’ in
			service method<br>
				<br> Example:	
			<ul>
				<li><%= Java expression %></li>
				<li>wraps it inside a print statement</li>
				<li><%= ++count %> becomes … out.print( ++count ); … in service
					method</li>
			</ul>
			<br>
		</div>



		<div class="p1">8. Give an example of a JSP directive and show
			how it will look in the JSP servlet.</div>
		<div class="p2">
			Directive: page level operations for the translation phase.
				<br>Example: <%@ page %>
		</div>
		<br>



		<div class="p1">9. Explain how an EL expression is evaluated</div>
		<div class="p2">
			Example: ${something}<br>
			<ul>
				<li>container evaluates this as follows
				<li>checks page scope for an attribute named "something", if
					found use it.</li>
				<li>otherwise check request scope for an attribute named
					"something", if found use it.</li>
				<li>otherwise check session scope for an attribute named
					"something", if found use it</li>
				<li>otherwise check application scope for an attribute named
					"something", if found use it.</li>
				<li>otherwise ignore the expression.
			</ul>
		</div>
		<br>

		<div class="p1">10. Explain how servlet attributes are involved
			in EL expressions.</div>
		<div class="p2">
			${firstThing} - if firstThing is not an implicit EL object, then
			search page, request, session and application scopes until attribute
			"firstThing" is found <br><br> ${firstThing.secondThing}
			<ul>
				<li>if firstThing is a bean then secondThing is a property of
					the bean</li>
				<li>if firstThing is a map then secondThing is a key of the map</li>
			</ul>
			<br> ${firstThing[secondThing]}
			<ul>
				<li>if firstThing is a bean then secondThing is a property of
					the bean</li>
				<li>if firstThing is a map then secondThing is a key of the map</li>
				<li>if firstThing is a List then secondThing is an index into
					the List</li>
			</ul>
		</div>
		<br>

		<div class="p1">11. Explain how servlets and JSPs use request
			dispatch to interact.</div>
		<div class="p2">Defines an object that receive request from the
			client and send them to any resoucse(such as servlet, HTML file or
			JSP file) on the server. The servlet contaner created the
			RequestDispatcher object, which is used as a wrapper around a server
			resource located at a particular path or given by a particuSlar name.
		</div>
		<br>
	</div>

</body>
</html>